<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Listing Details: </h3>
    <ul>
        <li><b>Title: </b> <%= listing.title %></li>
        <li><b>Description: </b><%= listing.description %></li>
        <li><b>Price: &#8377</b><%= listing.price.toLocaleString("en-IN") %></li>
        <li><b>Location: </b><%= listing.location %></li>
        <li><b>Country: </b><%= listing.country %></li>
    </ul>
</body>
</html>