<% layout("/layouts/boilerplate") %>
<body>
    <h3>Listing Details: </h3>
    <ul>
        <li><b>Title: </b> <%= listing.title %></li>
        <li><b>Description: </b><%= listing.description %></li>
        <li><b>Price: &#8377</b><%= listing.price.toLocaleString("en-IN") %></li>
        <li><b>Location: </b><%= listing.location %></li>
        <li><b>Country: </b><%= listing.country %></li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    
    <br><br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button id="deleteForm" onclick="return confirmDelete()">Delete this listing</button>
    </form>

    <script>
        function confirmDelete(){
            const isConfirmed = confirm("Are you Sure You Wanna del");
            if(isConfirmed){
                document.getElementById('deleteForm').submit();
            }else{
                alert("Deletion Cancelled");
                return false;
            }
        }

    </script>
</body>